---
permalink: /feed.xml
eleventyExcludeFromCollections: true
---
<?xml version="1.0" encoding="UTF-8"?>
<rss version="2.0" xmlns:atom="http://www.w3.org/2005/Atom">
  <channel>
    <title>{{ site.title }}</title>
    <description>{{ site.description }}</description>
    <link>{{ site.url }}</link>
    <atom:link href="{{ site.url }}/feed.xml" rel="self" type="application/rss+xml"/>
    <language>en-us</language>
    <image>
      <url>{{ site.url }}/img/favicon.svg</url>
      <title>{{ site.title }}</title>
      <link>{{ site.url }}</link>
    </image>
    <lastBuildDate>{% if collections.posts.length %}{{ collections.posts[0].date | rfc822Date }}{% endif %}</lastBuildDate>
    {%- for post in collections.posts.slice(0, 20) %}
    <item>
      <title>{{ post.data.title }}</title>
      <link>{{ site.url }}{{ post.url }}</link>
      <guid isPermaLink="true">{{ site.url }}{{ post.url }}</guid>
      <pubDate>{{ post.date | rfc822Date }}</pubDate>
      <description>{{ (post.data.excerpt if post.data.excerpt else post.templateContent | striptags | truncate(280)) | escape }}</description>
      {%- for tag in post.data.tags %}{% if tag != "post" %}
      <category>{{ tag }}</category>
      {%- endif %}{%- endfor %}
    </item>
    {%- endfor %}
  </channel>
</rss>
